CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.hdb
*.cdb
*.qmsg
*.bpm
*.qmsg
*.db_info
*.rpt
*.summary
*.qmsg
*.chg
*.log
*.db_info
